<header class="main-header">
    <div class="row">
        <div class="col-12">
            <h1 class="text-white">Angular Sandbox</h1>
        </div>
    </div>
</header>
<div class="info-container">
    <div class="row">
        <div class="col-12">
            <lib-alert [alertClass]="'alert-info'" [dismissable]="true">This is a sandbox Angular 7 application to test out things for work and play.</lib-alert>
        </div>
    </div>
</div>
<main class="main-content" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
</main>

