<div *ngIf="isSelectable" [@expand] class="text-right overflow-hidden">
    <button type="button" class="btn btn-link my-2" (click)="cancelSelect()">Cancel</button>
</div>
<div class="grid-list" [ngClass]="{'grid-list-selectable' : isSelectable}">
    <div class="row no-gutters align-items-center grid-list-header">
        <div class="col-8">
            <div class="grid-list-cell">User</div>
        </div>
        <div class="col-4">
            <div class="grid-list-cell">Gender</div>
        </div>
    </div>
    <ng-container *ngIf="data.length == 0">
        <div class="my-4 py-4 text-center">
            <span>Loading...</span>
        </div>
    </ng-container>
    <ng-container *ngIf="data.length > 0">
        <div *ngFor="let user of data; let index = index" class="row grid-list-row grid-list-row-actionable no-gutters" (press)="selectToggle($event, index)" [ngClass]="{'grid-list-row-selected' : userSelect[index]}">
            <div class="col-12 front-item" (swiperight)="swipedRight($event, index)" (swipeleft)="swipedLeft($event, index)" [ngClass]="{'move-right' : moveRight[index], 'move-left' : moveLeft[index]}">
                <div class="row no-gutters align-items-center">
                    <div class="col-8">
                        <div class="grid-list-cell">
                            <div class="form-check align-middle">
                                <input
                                    [(ngModel)]="userSelect[index]"
                                    class="form-check-input"
                                    name="userSelect[]"
                                    type="checkbox"
                                    value=""
                                    (ngModelChange)="selectUser($event)">
                            </div>
                            <div class="d-inline-block align-middle">
                                {{ user.first_name }} {{ user.last_name }} <br>
                                <small class="text-muted">{{ user.email }}</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="grid-list-cell">
                            {{ user.gender }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 behind-item">
                <div class="row no-gutters align-items-stretch h-100">
                    <div class="col-6 bg-info text-white">
                        <div class="row no-gutters text-center">
                            <div class="col" (tap)="takeAction('activated', index)">
                                <i class="fas fa-user-check mt-2"></i><br>
                                <small>Activate</small>
                            </div>
                            <div class="col" (tap)="takeAction('sent another invite to', index)">
                                <i class="far fa-envelope mt-2"></i><br>
                                <small>Re-Invite</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 bg-danger text-white ml-auto d-inline-block">
                        <div class="row text-center">
                            <div class="col" (tap)="takeAction('deactivated', index)">
                                <i class="fas fa-user-times mt-2"></i><br>
                                <small>Deactivate</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>
