/* You can add global styles to this file, and also import other style files */
body {
    text-align: center;
}

.grid-list {
    text-align: left;

    &-row {
        border-bottom: 1px solid #f8f9fa;
        position: relative;

        &-actionable {
            overflow: hidden;
        }

        &-selected {
            background: #bee5eb;
        }
    }

    &-header {
        background-color: #f8f9fa;
        font-weight: 500;
    }

    &-cell {
        font-size: .875rem;
        padding: .5rem 15px;
    }

    .form-check {
        display: none;
    }

    &-selectable {
        .form-check {
            display: inline-block;
        }
    }
}

.front-item {
    background: #fff;
    left: 0;
    position: relative;
    transition: left 375ms ease-out;
    z-index: 10;

    &.move-right {
        left: 50%;
    }

    &.move-left {
        left: -25%;
    }
}

.behind-item {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}