/* You can add global styles to this file, and also import other style files */
body {
    text-align: center;
}

.main-header {
    background-color: #007bff;
    height: 55px;
    left: 0;
    padding: .5rem 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;

    h1 {
        font-size: 1.75rem;
    }
}

.info-container {
    margin-top: 55px;
}

.grid-list {
    text-align: left;

    &-row {
        border-bottom: 1px solid #f8f9fa;
        position: relative;
        transition: background-color 375ms;

        &-actionable {
            overflow: hidden;
        }

        &-selected {
            background-color: #bee5eb;
        }
    }

    &-header {
        background-color: #f8f9fa;
        font-weight: 500;
    }

    &-cell {
        font-size: .875rem;
        padding: .5rem 15px;
    }

    .form-check {
        display: inline-block;
        height: 25px;
        overflow: hidden;
        padding-left: 0;
        transition: padding-left 375ms;

        &-input {
            margin-left: -1.75rem;
        }
    }

    &-selectable {
        .form-check {
            padding-left: 1.75rem;
        }
    }
}

.front-item {
    background: #fff;
    left: 0;
    position: relative;
    transition: left 375ms ease-out, background-color 375ms;
    z-index: 10;

    .grid-list-row-selected & {
        background-color: #bee5eb;
    }

    &.move-right {
        left: 50%;
    }

    &.move-left {
        left: -25%;
    }
}

.behind-item {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.back {
    font-size: 1.5rem;
}